/**
 * ------------------------------------------
 *  Responsive Grid Media Queries - 1280, 1024, 768, 480
 *   1280-1024   - desktop (default grid)
 *   1024-768    - tablet landscape
 *   768-480     - tablet 
 *   480-less    - phone landscape & smaller
 * --------------------------------------------
 */
@media all and (min-width: 1024px) and (max-width: 1280px) {


    .about,
    .menu,
    .locations,
    .order {
        width: 100%;
        overflow: hidden;
    }

    .about p {
        font-size: 80%;
    }

    .nav {float: none;}

    .header__company-name {
        transform: translate(-35%, -50%);
    }

    /* .nav__bar__ul {font-size: 80%;} */
    
    .menu-photo {font-size: 80%;}
    
    .location__img-container {flex-wrap: wrap;}

    .location__image {padding: 15px;}

}

@media all and (min-width: 768px) and (max-width: 1024px) {

    html,
    body {
        font-size: 90%;
        word-wrap: normal;
    }

    .nav {float: none;}

    .about,
    .menu,
    .locations,
    .order {
        width: 100%;
        overflow: hidden;
    }

    .about {
        font-size: 90%;
        width: 90%;
    }

    .header__company-name {
        transform: translate(-17%, -80%);
    }
    
    .header__company-name__content h1 {font-size: 120%;}

    .menu-photo {font-size: 60%;}
    
    .location__img-container {flex-wrap: wrap;}

    .location__image {padding: 15px;}

}

@media all and (min-width: 480px) and (max-width: 768px) {

    html,
    body {word-wrap: normal;}

    .header__company-name {
        transform: translate(-17%, -80%);
    }

    .header__company-name__content h1 {font-size: 95%;}

    .cart-nav {justify-content: center;}

    .product,
    .product-price,
    .product-quantity,
    .product-total,
    .basket-total-title,
    .basket-total {font-size: 70%;}

    .product img {width: 20%;}
    
    .menu-photo {font-size: 80%;}
    
    .location__img-container {flex-wrap: wrap;}

    .location__image {padding: 15px;}

    .btn-cart {
        width: 100%;
        font-size: 80%;
    }

    footer {font-size: 80%;}
}

@media all and (min-width: 360px) and (max-width: 480px) {

    body {width: 100vw;}

    .header__company-name {
        transform: translate(-14%, -80%);
    }
    
    .header__company-name__content h1 {font-size: 80%;}
    
    .logo{height: 50px;}
    .menu-photo {font-size: 60%;}

    header,
    .about,
    .menu,
    .locations,
    .order {
        width: 100%;
        overflow: hidden;
    }
    
    .location__img-container {flex-wrap: wrap;}

    .location__image {padding: 15px;}

    .cart-nav {justify-content: center;}

    .cart-nav h2 {
        font-size: 90%;
        margin-bottom: 20px;
    }

    .product,
    .product-price,
    .product-quantity,
    .product-total,
    .basket-total-title,
    .basket-total {font-size: 50%;}

    .product-header {font-size: 80%;}

    .product img {width: 20%;}
    
    .menu-photo {font-size: 80%;}
    
    .location__img-container {flex-wrap: wrap;}

    .location__image {padding: 15px;}

    .btn-cart {
        width: 100%;
        font-size: 60%;
        margin: 0;
    }

    footer {
        font-size: 60%;
        line-height: 20px;
        width: 150%;
    }

}


/* Portrait */
@media screen and (orientation:portrait) { /* Portrait styles here */ }
/* Landscape */
@media screen and (orientation:landscape) { /* Landscape styles here */ }


/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {
} 

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {
}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {
}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {
}