/**
 * ------------------------------------------
 *  Responsive Grid Media Queries - 1280, 1024, 768, 480
 *   1280-1024   - desktop (default grid)
 *   1024-768    - tablet landscape
 *   768-480     - tablet 
 *   480-less    - phone landscape & smaller
 * --------------------------------------------
 */
/* @media all and (min-height: 1081px) {

    body {overflow-x: hidden;}
    
    .header__company-name__content {
        font-size: 100%;
    }

    .about {
        width: 70%;
        line-height: 1.5rem;
    }

    .menu,
    .order,
    .main-footer,
    .locations {width: 99%;}
} */

@media all and (min-width: 1280px) {

    body {overflow-x: hidden;}

    .header__company-name__content {
        font-size: 100%;
    }

    .about {width: 67%;}

    .about h2,
    .menu h2,
    .locations h2,
    .order h2 {font-size: 180%;}

    .about p {font-size: 100%;}

    .location__image img {width: 90%;}

    section {
        padding: 0;
        margin: 0;
    }

    .order {
        margin: 0;
        padding: 0;
        height: 160vh;
    }
}

/* iPhone 11 Pro */
@media all and (width: 375px) and (height: 812px) {
    .header__company-name__content {
        font-size: 70%;
    }
    
    .nav__bar__ul {visibility: hidden;}

    .menu-food {display: none;}

    .menu-photo-mobile {
        display: block;
    }

    .menu-food-mobile h3 {
        padding-top: 1.5rem;
    }

    .menu-photo-mobile figcaption {
        font-size: 80%;
        margin: .2rem 0;
    }

    .menu-photo-mobile img {
        width: 40%;
        height: auto;
        margin-top: 6px;
    }

    .location__img-container {
        display: flex;
        flex-direction: column;
    }

    .location__image img {
        width: 80%;
        height: auto;
    }

    .order {
        height: 90vh;
        width: 105vw;
        font-size: 60%;
    }

    .order img {
        width: 70%;
        height: auto;
    }

    .main-footer {
        width: 105vw;
        line-height: 1.3rem;
    }
}

/* Galaxy Note 20 */
@media all and (width: 412px) and (height: 915px) {

    .header__company-name__content {
        font-size: 70%;
    }
    
    .nav__bar__ul {visibility: hidden;}

    .menu-food {display: none;}

    .menu-photo-mobile {
        display: block;
    }

    .menu-food-mobile h3 {
        padding-top: 1.5rem;
    }

    .menu-photo-mobile figcaption {
        font-size: 80%;
        margin: .2rem 0;
    }

    .menu-photo-mobile img {
        width: 40%;
        height: auto;
        margin-top: 6px;
    }

    .location__img-container {
        display: flex;
        flex-direction: column;
    }

    .location__image img {
        width: 60%;
        height: auto;
    }

    .order {
        height: 90vh;
        width: 102vw;
        font-size: 60%;
    }

    .order img {
        width: 70%;
        height: auto;
    }

    .main-footer {
        width: 102vw;
        line-height: 1.3rem;
    }
}

/* iPhone 11 */
@media all and (width: 414px) and (height: 896px) {

    .header__company-name__content {
        font-size: 70%;
    }
    
    .nav__bar__ul {visibility: hidden;}

    .menu-food {display: none;}

    .menu-photo-mobile {
        display: block;
    }

    .menu-food-mobile h3 {
        padding-top: 1.5rem;
    }

    .menu-photo-mobile figcaption {
        font-size: 80%;
        margin: .2rem 0;
    }

    .menu-photo-mobile img {
        width: 40%;
        height: auto;
        margin-top: 6px;
    }

    .location__img-container {
        display: flex;
        flex-direction: column;
    }

    .location__image img {
        width: 60%;
        height: auto;
    }

    .order {
        height: 90vh;
        width: 102vw;
        font-size: 60%;
    }

    .order img {
        width: 70%;
        height: auto;
    }

    .main-footer {
        width: 102vw;
        line-height: 1.3rem;
    }
}

/* iPhone 6/7/8 Plus */
@media all and (width: 414px) and (height: 736px) {

    .nav__bar__ul {visibility: hidden;}

    .hamburger {display: block;}

    .menu-food {display: none;}

    .menu-photo-mobile {
        display: block;
    }

    .menu-food-mobile h3 {
        padding-top: 1.5rem;
    }

    .menu-photo-mobile figcaption {
        font-size: 80%;
        margin: .2rem 0;
    }

    .menu-photo-mobile img {
        width: 40%;
        height: auto;
        margin-top: 6px;
    }
}

/* Surface Duo */
@media all and (width: 540px) and (height: 720px) {
    .nav__bar__ul {visibility: hidden;}

    .hamburger {display: block;}

    .menu-food {display: none;}

    .menu-photo-mobile {
        display: block;
    }

    .menu-food-mobile h3 {
        padding-top: 1.5rem;
    }

    .menu-photo-mobile figcaption {
        font-size: 80%;
        margin: .2rem 0;
    }

    .menu-photo-mobile img {
        width: 40%;
        height: auto;
        margin-top: 6px;
    }

    .about,
    .locations {margin: 0;}

    .locations {padding: 0;}

    .about p {
        font-size: 80%;
        padding: 0 10px;
    }

    .btn-order {
        font-size: 50%;
    }

    .order {height: 125vh;}

    .btn-form-order {
        width: 50%;
    }

    .order-name {
        font-size: 70%;
    }

    .main-footer {line-height: 1.2rem;}

    
}

/* iPad Pro */
@media all and (width: 1024px) and (height: 1366px) {

    /* header {height: 100vh;} */

    .nav__bar__ul {visibility: hidden;}

    .hamburger {display: block;}

    .menu-food {display: none;}

    .menu-photo-mobile {
        display: block;
    }

    .menu-food-mobile h3 {
        padding-top: 1.5rem;
    }

    .menu-photo-mobile figcaption {
        font-size: 140%;
        margin: .2rem 0;
    }

    .menu-photo-mobile img {
        width: 40%;
        height: auto;
        margin-top: 6px;
    }

    .about,
    .menu,
    .locations,
    .order,
    .main-footer {width: 100%;}

    .about h2,
    .menu h2,
    .locations h2,
    .order h2 {font-size: 250%;}

    header {height: 97vh;}

    .about p {
        margin-top: 50px;
        font-size: 150%;
        line-height: 2.5rem;
        word-wrap: break-word;
        padding: 0 20px;
    }

    .nav {
        float: none;
        font-size: 100%;
    }

    .header__company-name__content {
        margin: 0 auto;
        font-size: 100%;
    }
    
    .menu-name {font-size: 220%;}

    .menu-food h3 {font-size: 170%;}
    
    .location__img-container {flex-wrap: wrap;}

    .location__image {padding: 15px;}

    .locations h4 {font-size: 180%;}

    .food-header {font-size: 170%;}

    .order {height: 80vh;}

    .order-name {font-size: 140%;}

    .order-photo {margin: 0 1px;}

    .order-photo img {
        width: 50%;
    }

    .main-footer {font-size: 140%;}

    .btn-form-order {font-size: 130%;}

    .header__company-name {
        font-size: 150%;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {

    html,
    body {
        font-size: 90%;
        word-wrap: normal;
    }

    header {height: 100vh;}

    .nav {float: none;}

    .nav__bar__ul {font-size: 200%;}

    .about,
    .menu,
    .locations,
    .order {
        width: 100%;
        overflow: hidden;
    }

    .about h2,
    .menu h2,
    .locations h2,
    .order h2 {font-size: 250%;}

    .header__company-name__content {
        font-size: 150%;
    }
    
    .header__company-name__content h1 {font-size: 120%;}

    .about {width: 88%;}

    .about p {
        margin-top: 50px;
        font-size: 170%;
        line-height: 2.8rem;
    }

    .menu-food {
        width: 90%;
        margin: 0 auto;
    }

    .menu-food h3 {font-size: 170%;}

    .menu-photo {font-size: 90%;}

    .locations h4 {font-size: 170%;}
    
    .location__img-container {flex-wrap: wrap;}

    .location__image {padding: 15px;}

    .pizza-container,
    .appetizer-container {
        width: 88%;
        font-size: 125%;
    }

    .food-header {font-size: 170%;}

    .main-footer {font-size: 140%;}

    .btn-form-order {font-size: 100%;}

}

@media all and (min-width: 480px) and (max-width: 768px) {

    html,
    body {word-wrap: normal;}

    .header__company-name__content h1 {font-size: 95%;}

    .cart-nav {justify-content: center;}

    .product,
    .product-price,
    .product-quantity,
    .product-total,
    .basket-total-title,
    .basket-total {font-size: 70%;}

    .product img {width: 20%;}
    
    .menu-photo {font-size: 80%;}
    
    .location__img-container {flex-wrap: wrap;}

    .location__image {padding: 15px;}

    .btn-cart {
        width: 100%;
        font-size: 80%;
    }

    footer {font-size: 80%;}
}

/* iPhone X */
@media all and (width: 375px) and (height: 812px)   {
    .nav__bar__ul {visibility: hidden;}

    .hamburger {display: block;}

    .menu-food {display: none;}

    .menu-photo-mobile {
        display: block;
    }

    .menu-food-mobile h3 {
        padding-top: 1.5rem;
    }

    .menu-photo-mobile figcaption {
        font-size: 80%;
        margin: .2rem 0;
    }

    .menu-photo-mobile img {
        width: 40%;
        height: auto;
        margin-top: 6px;
    }
}

/* @media all and (min-width: 360px) and (max-width: 480px) {

    body {width: 70vw;}

    header {height: 100vh;}

    .header__company-name__content {
        font-size: 80%;
    }
    
    .header__company-name__content h1 {font-size: 80%;}

    header,
    .about,
    .menu,
    .locations,
    .order {
        width: 100%;
        overflow: hidden;
    }

    .about p {
        font-size: 80%;
        word-wrap: break-word;
    }

    .menu-name {font-size: 80%;}

    .menu-food h3 {font-size: 90%;}
    
    .location__img-container {flex-wrap: wrap;}

    .location__image {padding: 0;}

    .pizza-container,
    .appetizer-container {
        width: 90%;
        font-size: 60%;
    }

    .btn-form-order {
        font-size: 60%;
        width: 70%;
    }

    .checkout {font-size: 60%;}

    .main-footer {
        font-size: 50%;
        line-height: .8rem;
    }

    .cart-nav {justify-content: center;}

    .cart-nav h2 {
        font-size: 90%;
        margin-bottom: 20px;
    }

    .product,
    .product-price,
    .product-quantity,
    .product-total,
    .basket-total-title,
    .basket-total {font-size: 50%;}

    .product-header {font-size: 80%;}

    .product img {width: 20%;}
    
    .menu-photo {font-size: 80%;}

    .locations,
    .menu,
    .about,
    .order {padding: 15px 0;}
    
    .location__img-container {flex-wrap: wrap;}

    .location__image {padding: 15px;}

    .btn-cart {
        width: 100%;
        font-size: 60%;
        margin: 0;
    }

    footer {
        font-size: 60%;
        line-height: 20px;
        width: 150%;
    }
} */

/* Galaxy Fold */
@media all and (width: 280px) and (height: 653px) {

    header,
    .about,
    .menu,
    .locations,
    .order {
        width: 100%;
        overflow: hidden;
        margin: 2px auto;
    }

    .about,
    .locations {padding: 10px 0;}

    .about p {
        font-size: 65%;
        word-wrap: break-word;
        padding: 0 5px;
        line-height: 1.2rem;
    }

    .nav__bar__ul {visibility: hidden;}

    .hamburger {display: block;}

    .logo {
        height: 50px;
        margin-top: .5rem;
    }

    .header__company-name__content {
        font-size: 40%;
    }

    .menu-food {display: none;}

    .menu-photo-mobile {
        display: block;
    }

    .menu-food-mobile h3 {
        padding-top: 1.5rem;
    }

    .menu-photo-mobile figcaption {
        font-size: 80%;
        margin: .2rem 0;
    }

    .menu-photo-mobile img {
        width: 40%;
        height: auto;
        margin-top: 6px;
    }

    .locations {padding-top: 10px;}

    .location__img-container {
        flex-direction: column;
    }

    .location__image h4 {padding: 1rem 0;}

    .location__image {
        padding: 0;
    }

    .order h2 {font-size: 120%;}

    .order-pizza,
    .order-appetizer {
    flex-direction: column;
    }

    .order {height: auto;}

    .order-photo img {width: 40%;}

    .btn-order {
        width: 50px;
        font-size: 20%;
    }

    .btn:link,
    .btn:visited,
    .btn-form-order:link,
    .btn-form-order:visited,
    .btn-checkout:link,
    .btn-checkout:visited {
        padding: 8px 16px;
        width: 80px;
    }

    .main-footer {
        font-size: 70%;
        line-height: 25px;
    }
}


/* Portrait */
@media screen and (orientation:portrait) { /* Portrait styles here */ }
/* Landscape */
@media screen and (orientation:landscape) { /* Landscape styles here */ }


/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {
} 

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {
}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {
}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {
}