/* Smartphones (portrait and landscape) ----------- */

@media only all
and (min-width:280px) and (max-width:320px) {

    html,
    body {
        word-wrap: normal;
        font-size: 60%;
    }

    .nav__bar__ul {visibility: hidden;}

    h2 {font-size: 125%;}

    h3 {margin: 2rem 0;}

    section {
        padding: 3rem 0;
    }

    .nav__bar__ul {visibility: hidden;}

    .menu-food {display: none;}

    .menu-photo-mobile {
        display: block;
    }

    .menu-food-mobile h3 {
        padding-top: 1rem;
    }

    .menu-photo-mobile figcaption {
        /* font-size: 80%; */
        margin: .2rem 0;
    }

    .menu-photo-mobile img {
        width: 40%;
        height: auto;
        margin-top: 6px;
    }

    header {height: 100%;}

    .header__company-name__content h1 {font-size: 95%;}

    .order {
        height: 100%;
        text-align: center;
    }

    .order-pizza,
    .order-appetizer {
        flex-direction: column;
    }

    .order-photo img {
        width: 40%;
        height: auto;
    }

    .btn-form-order {
        font-size: 1.5rem;
    }

    .main-footer {
        /* font-size: 1.5rem; */
        line-height: 2.5rem;
    }

    .cart-nav {justify-content: center;}

    .product,
    .product-price,
    .product-quantity,
    .product-total,
    .basket-total-title,
    .basket-total {font-size: 140%;}

    .product img {width: 20%;}
    
    .menu-photo {font-size: 80%;}

    .location__image {padding: 1.5rem;}

    .location__image img {width: 80%;}

    .btn-cart {
        width: 100%;
        font-size: 80%;
    }

    footer {font-size: 80%;}

    .cart-nav h2 {
        font-size: 2rem;
        text-align: center;
    }

    .product-header h5,
    .cart-item-label {font-size: 1rem;}

    .products-container ion-icon {font-size: 1.5rem;}

    .cart-footer {
        line-height: 2rem;
        font-size: 1rem;
    }

    .home {font-size: 2rem;}
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    html,
    body {
        word-wrap: normal;
        font-size: 60%;
    }

    .nav__bar__ul {visibility: hidden;}

    section {
        padding: 3rem 0;
    }

    .nav__bar__ul {visibility: hidden;}

    .menu-food {display: none;}

    .menu-photo-mobile {
        display: block;
    }

    .menu-food-mobile h3 {
        padding-top: 1.5rem;
    }

    .menu-photo-mobile figcaption {
        /* font-size: 80%; */
        margin: .2rem 0;
    }

    .menu-photo-mobile img {
        width: 40%;
        height: auto;
        margin-top: 6px;
    }

    header {height: 100%;}

    .header__company-name__content h1 {font-size: 95%;}

    .order {
        height: 100%;
        text-align: center;
    }

    .order-pizza,
    .order-appetizer {
        flex-direction: column;
    }

    .order-photo img {
        width: 40%;
        height: auto;
    }

    .btn-form-order {
        font-size: 1.5rem;
    }

    .main-footer {
        /* font-size: 1.5rem; */
        line-height: 2.5rem;
    }

    .cart-nav {justify-content: center;}

    .product,
    .product-price,
    .product-quantity,
    .product-total,
    .basket-total-title,
    .basket-total {font-size: 170%;}

    .product img {width: 20%;}
    
    .menu-photo {font-size: 80%;}

    .location__image {padding: 1.5rem;}

    .location__image img {width: 80%;}

    .btn-cart {
        width: 100%;
        font-size: 80%;
    }

    footer {font-size: 80%;}

    .cart-nav h2 {
        font-size: 2rem;
        text-align: center;
    }

    .product-header h5,
    .cart-item-label {font-size: 1.5rem;}

    .products-container ion-icon {font-size: 2rem;}

    .cart-footer {
        line-height: 2rem;
        font-size: 1.3rem;
    }

    .home {font-size: 3rem;}
}

@media only all 
and (min-width: 481px) 
and (max-width: 768px) {
    html,
    body {
        width: 100%;
        overflow-x: hidden;
    }

    .nav__bar__ul {visibility: hidden;}

    h2 {margin: .5rem 0;}

    .menu-food {display: none;}

    .menu-food-mobile__container {
        display: flex;
        list-style: none;
    }

    .menu-photo-mobile {
        display: block;
        font-size: 80%;
        word-wrap: break-word;
    }

    .menu-food-mobile h3 {
        padding-top: 1.5rem;
    }

    .menu-photo-mobile figcaption {
        /* font-size: 80%; */
        margin: .2rem 0;
    }

    .menu-photo-mobile img {
        width: 80%;
        height: auto;
        margin-top: .6rem;
    }

    .order {
        height: 100%;
    }

    .order-photo img {
        width: 60%;
        height: auto;
    }

    .btn-form-order {
        font-size: 1rem;
    }

    .btn-form-order {font-size: 1.5rem;}

    .main-footer {
        line-height: 2.5rem;
    }

    .product,
    .product-price,
    .product-quantity,
    .product-total,
    .basket-total-title,
    .basket-total {font-size: 250%;}

    .cart-nav h2 {
        font-size: 2rem;
        text-align: center;
    }

    .product-header h5,
    .cart-item-label {font-size: 1rem;}

    .products-container ion-icon {font-size: 2rem;}

    .cart-footer {
        line-height: 2rem;
        font-size: 1.3rem;
    }

    .home {font-size: 2rem;}
}

/* iPads (portrait and landscape) ----------- */
@media only all
and (min-width : 768px) and (max-width : 1024px) {

    html,
    body {
        width: 100%;
        overflow-x: hidden;
    }

    h2 {margin: .5rem 0;}

    .menu-food {display: none;}

    .menu-food-mobile__container {
        display: flex;
        list-style: none;
    }

    .menu-photo-mobile {
        display: block;
        font-size: 80%;
        word-wrap: break-word;
    }

    .menu-food-mobile h3 {
        padding-top: 1.5rem;
    }

    .menu-photo-mobile figcaption {
        /* font-size: 80%; */
        margin: .2rem 0;
    }

    .menu-photo-mobile img {
        width: 80%;
        height: auto;
        margin-top: .6rem;
    }

    .order {
        height: 100%;
    }

    .order-photo img {
        width: 60%;
        height: auto;
    }

    .btn-form-order {
        font-size: 1rem;
    }

    .btn-form-order {font-size: 1.5rem;}

    .main-footer {
        line-height: 2.5rem;
    }
}

@media only all
and (min-width : 1025px) {
    html,
    body {
        width: 100%;
        overflow-x: hidden;
    }

    h2 {margin: .5rem 0;}

    .order {
        height: 100%;
    }

    .order-photo img {
        width: 60%;
        height: auto;
    }

    .btn-form-order {
        font-size: 1rem;
    }

    .btn-form-order {font-size: 1.5rem;}

    .main-footer {
        line-height: 2.5rem;
    }
}