@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

/* Ghost Bear blue: #2376bc | rgb(35, 118, 188) */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #414141;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

h3:after {
    display: block;
    height: 2px;
    background-color: #2376bc;
    content: " ";
    width: 55px;
    margin: 0 auto;
    margin-top: 10px;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.8)), url(img/title-header-min.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

section {padding: 80px 0;}

/* NAV BAR */

.nav {
    height: 100px;
    width: 500px;
    float: right;
    overflow: hidden;
}

.nav__bar {
    flex-grow: 1;
    align-self: center;
}



.nav__bar__ul {
    display: flex;
    font-weight: 700;
    list-style: none;
    justify-content: space-between;
    margin-left: 55px;
    text-transform: uppercase;
    font-size: 125%;
    align-items: center;
}

.nav__bar__ul ion-icon,
.nav__bar__ul span {
    color: #2376bc;
    font-size: 100%;
    padding: 5px;
}

.nav__bar__ul li a:link,
.nav__bar__ul li a:visited {
    text-decoration: none;
    color: #2376bc;
    font-size: 90%;
}

.fixed-nav {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
}

.nav__logo {width: 100px;}

.logo {
    height: 150px;
    width: auto;
    float: left;
}

.nav_logo img {
    width: 100%;
    height: auto;
}

.header__company-name {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    font-size: 250%;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -50%);
}

.header__company-name__content {
    text-align: center;
}

.header__company-name__content a {font-size: 60%;}

.header__company-name__content h1 {
    margin-bottom: 25px;
    color: white;
}


/* BUTTON */
.btn {
    text-decoration: none;
    display: inline-block;
}

.btn:link,
.btn:visited,
.btn-form-order:link,
.btn-form-order:visited,
.btn-checkout:link,
.btn-checkout:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
    color: white;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-form-order {
    font-family: 'Quicksand', sans-serif;
    font-size: 80%;
    margin-top: 10px;
    width: 35%;
    transition: all .2s;
    outline: none;
}

.btn-form-order:hover {
    background-color: rgba(35, 119, 188, 0.7);
}

.btn-order,
.btn-form-order {
    background-color: #2376bc;
    color: white;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}

.btn-order::after {
    background-color: #2376bc;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom .5s ease-out .75s;
    /* Without the below, the button appears in full for a second before on-load animation begins */
    animation-fill-mode: backwards;
}

.section-dash { color: #2376bc}

/* ABOUT US */

.about {
    max-width: 1140px;
    text-align: center;
    margin: 30px auto;
    line-height: 145%;
}

.about h2 {
    margin-bottom: 15px;
    text-transform: uppercase;
}

.about_large {font-weight: 700;}

.about_small {font-size: 80%;}

/* MENU */

.menu {
    padding: 0;
    text-align: center;
    background-color: #f3f3f3;
}

.menu-food {
    list-style: none;
    width: 100%;
}

.menu-food h3 {margin: 50px 0;}

.menu-food li {
    display: block;
    width: 25%;
    float: left;
}

.menu h2 {
    margin-bottom: 15px;
    text-transform: uppercase;
}

.menu-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #2376bc;
    margin: auto;
    position: relative;
    text-align: center;
    color: white;
}

.order-photo img {
    width: 60%;
}

.menu-photo img {
    opacity: 0.3;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform .5s, opacity .5s;
}

.menu-photo img:hover {
    transform: scale(1.03);
    opacity: 1;
}

.menu-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150%;
}

.menu-photo img:hover + .menu-name {display: none;}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/* LOCATIONS */

.locations {
    text-align: center;
}

.locations h2 {
    margin-top: 50px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.location__img-container {
    display: flex;
    justify-content: center;
}

.location__image {
    padding: 0 20px;
}

/* ORDER FORM */

.order {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.8)), url(img/menu-min.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.order-pizza,
.order-appetizer {
    display: flex;
}

.order-pizza-item,
.order-appetizer-item {
    text-align: -webkit-center;
}

.order-photo {
    /* display: inline-block; */
    width: 100%;
    margin: 10px;
    padding-top: 20px;
    position: relative;
    /* text-align: center; */
    color: white;
    font-size: 90%;
}

.order-photo img {
    display: block;
    width: 90%;
    border-radius: 50%;
}

.order h2 {
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.order-name {padding-top: 10px;}

form {
    color: white;
    margin-top: 50px;
}

.food-header {
    margin-top: 50px;
    text-align: center;
    color: white;
}

.pizza-container,
.appetizer-container {
    display: flex;
    /* flex-direction: column; */
    margin: auto;
    max-width: 1140px;
    background-color: rgba(17, 17, 17, 0.055);
}

.pizza-type {
    font-size: 75%;
}

.checkout {
    display: flex;
    justify-content: center;
}

.btn-checkout {
    margin-top: 35px;
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    font-size: 125%;
    transition: all .2s;
    cursor: pointer;
    background-color: #2376bc;
    color: white;
    border-radius: 20px;
    transition: all .2s;
    outline: none;
}

.btn-checkout:hover {background-color: rgba(35, 119, 188, 0.7);}

/* FOOTER */

footer {
    background-color: #123958;
    color: white;
    text-align: center;
    line-height: 35px;
}

footer a:link,
footer a:visited {color: white;}

.cart-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* CART.HTML STYLING */
.cart-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.8)), url('img/cart-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
    position: relative;
    color: white;
}

.cart-header li a:link,
.cart-header li a:visited {
    text-decoration: none;
    color: #2376bc;
    font-size: 90%;
    text-transform: uppercase;
}

.overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    background-color: rbga(10,10,10.0.3);
}

.cart-nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 60px 0 60px;
    text-transform: uppercase;
    align-items: center;
}

.cart-nav ul {color: white;}

.cart-nav li {
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 100%;
}

.cart-nav li span {padding-left: 5px;}

.cart-link {
    padding: 5px;
    text-decoration: none;
}

.cart ion-icon {
    vertical-align: bottom;
    font-size: 150%;
    padding-right: 5px;
}

.products-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 50px;
    padding-bottom: 100px;
    max-width: 1000px;
}

.products-container ion-icon {
    font-size: 25px;
    color: #2376bc;
    margin: 0 10px;
    cursor: pointer;
}

.product-header {
    width: 100%;
    max-width: 1000px;
    display: flex;
    border-bottom: 4px solid #2376bc;
    margin: 0 auto;
}

.product {
    width: 45%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #2376bc;
}

.product-title {width: 45%;}

.product-price {
    width: 15%;
    border-bottom: 1px solid #2376bc;
    display: flex;
    align-items: center;
}

.product-quantity {
    width: 30%;
    border-bottom: 1px solid #2376bc;
    display: flex;
    align-items: center;
}

.product-total {
    width: 10%;
    border-bottom: 1px solid #2376bc;
    display: flex;
    align-items: center;
}

.cart-item-label {font-size: 90%}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.products img {width: 75px;}

.basketTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.basket-total-title {
    width: 30%;
}

.basket-total {width: 10%;}

.home {text-decoration: none;}

.home a:visited {
    text-decoration: none;
}